{% extends "base_login.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
    <form method="post" action="{% url 'login' %}" class="form-signin">
        <img class="mb-4" src="{% static 'citc_logo.svg' %}" alt="" width="75%">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% csrf_token %}
        {% bootstrap_form form label_class="sr-only" field_class="form_control" %}

        <input type="hidden" name="next" value="{{ next }}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}
